# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
#.obsidian/
site/**
**/.obsidian/workspace
**/.obsidian/.obsidian-git-data

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
